.filters{
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 800px;
    border-radius: 5px;
    background-color: grey;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.saturation{
    display: flex;
    flex-direction: column;
}
.filters input{
    width: 50px;
    height: 18px;
}
.saturation input{
    width: 130px;
    height: 30px;
}
#canvasfilter{
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 10px;
}