*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    margin: 1px 2px;
    cursor: pointer
}
input{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border:1px solid grey
}
select{
    width: 80px;
    height: 24px;
    border: 1px solid grey;
    border-radius: 8px;
}
ul{
    list-style: none;
}
p {
    font-size: 13px;
}
span{
    font-size: 14px;
    font-weight: 500;
}
.router{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.routerlink{
    width: 80px;
    line-height: 30px;
    background-color: #efefef;
    text-align: center;
    border-radius: 8px;
    margin: 0 5px;
}
a{
    text-decoration: none;
    color: #000;
}